<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myappbbsbackend.api.dao.CsUserinfoMapper">
  <resultMap id="BaseResultMap" type="com.myappbbsbackend.api.entity.CsUserinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="userType" jdbcType="VARCHAR" property="usertype" />
    <result column="userEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="userPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="schoolId" jdbcType="INTEGER" property="schoolid" />
    <result column="userSignature" jdbcType="VARCHAR" property="usersignature" />
    <result column="userHeadImg" jdbcType="VARCHAR" property="userheadimg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `uid`, userName, userPassword, userType, userEmail, userPhone, schoolId, userSignature, 
    userHeadImg
  </sql>


  <select id="selectUserId" resultType="com.myappbbsbackend.api.entity.CsUserinfo" parameterType="java.lang.Integer">
  SELECT *
  FROM cs_userinfo
  WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectUserByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  SELECT COUNT(*)
  FROM cs_userinfo
  WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="isRegisterName" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" resultType="java.lang.Integer" >
  SELECT COUNT(*)
  FROM cs_userinfo
  WHERE userName = #{username,jdbcType=VARCHAR}
  </select>
  <select id="isRegisterEmail" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" resultType="java.lang.Integer" >
        SELECT COUNT(*)
        FROM cs_userinfo
        WHERE userEmail =  #{useremail,jdbcType=VARCHAR}
  </select>

  <select id="isRegisterPhone" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" resultType="java.lang.Integer" >
      SELECT COUNT(*)
      FROM cs_userinfo
      WHERE userPhone =  #{userphone,jdbcType=VARCHAR}
  </select>

  <select id="userLogin" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" resultType="java.lang.Integer">
  SELECT COUNT(*)
  FROM cs_userinfo
  WHERE userName = #{username,jdbcType=VARCHAR} and userPassword = #{password,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserName" parameterType="java.lang.String" resultType="com.myappbbsbackend.api.entity.CsUserinfo">
    select
    <include refid="Base_Column_List"/>
    from cs_userinfo
    where userName = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cs_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="userRegister" keyColumn="id" keyProperty="id" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" useGeneratedKeys="true">
    insert into cs_userinfo ( userName, userPassword,  userEmail, userPhone,  schoolId )
    values (#{username,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR},
     #{useremail,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR},  #{schoolid,jdbcType=INTEGER}  )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.myappbbsbackend.api.entity.CsUserinfo" useGeneratedKeys="true">
    insert into cs_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="schoolid != null">
        schoolId,
      </if>
      <if test="usersignature != null">
        userSignature,
      </if>
      <if test="userheadimg != null">
        userHeadImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="schoolid != null">
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="usersignature != null">
        #{usersignature,jdbcType=VARCHAR},
      </if>
      <if test="userheadimg != null">
        #{userheadimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myappbbsbackend.api.entity.CsUserinfo">
    update cs_userinfo
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        userEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="schoolid != null">
        schoolId = #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="usersignature != null">
        userSignature = #{usersignature,jdbcType=VARCHAR},
      </if>
      <if test="userheadimg != null">
        userHeadImg = #{userheadimg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateUserPasw"  parameterType="java.util.Map" >
    update cs_userinfo
    set
    userPassword = #{userpassword}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myappbbsbackend.api.entity.CsUserinfo">
    update cs_userinfo
    set
      userName = #{username,jdbcType=VARCHAR},
      userPassword = #{userpassword,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      schoolId = #{schoolid,jdbcType=INTEGER},
      userSignature = #{usersignature,jdbcType=VARCHAR},
      userHeadImg = #{userheadimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>